# Google Apps Script Web App URL
# After you deploy the Apps Script (apps-script/Code.gs) as a Web App,
# paste the deployment URL here. It should look like:
# https://script.google.com/macros/s/AKfycb.../exec
VITE_APPS_SCRIPT_URL=
